body {

    /*background-image: url('../img/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    background-color: black;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}



canvas {
    border: 1px solid #000;
}